.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.title {
    letter-spacing: 1px;
}

.loginForm {
    width: 50rem;
}

#togglePassword {
    font-size: 20px;
    margin-top: 5px;
    margin-left: -35px;
    cursor: pointer;
}

.loginPic {
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 75%;
    }
}